{% extends 'index.html' %} {% block title %} Create-Course {% endblock title %}
{% block body %}

<div class="container pt-5">
  {% if user_courses %}
  <div class="row">
    <div class="col-md-12">
      <h2>Your Courses</h2>
    </div>
  </div>
  <div class="row">
    {% for course in user_courses %}
    <div class="col-md-4">
      <div class="card mb-4" style="height: 370px">
        <img
          src="{{ course.course_image.url }}"
          class="card-img-top"
          alt="{{ course.name }} Image"
          style="object-fit: cover; height: 200px; width: 100%"
        />
        <div class="card-body" style="overflow: auto">
          <h5 class="card-title">{{ course.name }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <a href= "{% url 'Course-Data' course.id %}" class="btn btn-primary">View Course</a>
            <div class="dropdown ml-auto">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="course-actions-{{ course.id }}"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                ...
              </button>
              <ul
                class="dropdown-menu"
                aria-labelledby="course-actions-{{ course.id }}"
              >
                {% if course.enrollment_key %}
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#enrollment-key-modal-{{ course.id }}"
                    >{{ 'Enrollment Key' }}</a
                  >
                </li>
                {% endif %}
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#confirm-delete-modal-{{ course.id }}"
                  >
                    Delete Course
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- Enrollment Key Modal -->
          {% if course.enrollment_key %}
          <div
            class="modal fade"
            id="enrollment-key-modal-{{ course.id }}"
            tabindex="-1"
            aria-labelledby="enrollment-key-modal-label"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="enrollment-key-modal-label">
                    {{ 'Enrollment Key' }}
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>{{ course.enrollment_key }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- Confirm Delete Modal -->
          <div
            class="modal fade"
            id="confirm-delete-modal-{{ course.id }}"
            tabindex="-1"
            aria-labelledby="confirm-delete-modal-label"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirm-delete-modal-label">
                    Delete Course
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete "{{ course.name}}"?</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <form
                    action="{% url 'delete_course' course.id %}"
                    method="POST"
                  >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-12">
      {% else %}
      <div class="alert alert-info">
        You do not have any courses yet. Please create a course to get started.
      </div>
      {% endif %}
      <button
        type="button"
        class="btn btn-primary mt-3"
        data-bs-toggle="modal"
        data-bs-target="#create-course-modal"
      >
        Create New Course
      </button>
    </div>
  </div>
</div>

<!-- Create Course Modal -->
<div
  class="modal fade"
  id="create-course-modal"
  tabindex="-1"
  aria-labelledby="create-course-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-course-modal-label">
          Create a Course
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              value="on"
              name="generate_enrollment_key"
              id="generate-enrollment-key"
            />
            <label class="form-check-label" for="generate-enrollment-key">
              Generate enrollment key
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Create Course</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
