{% extends 'index.html' %}

{% block title %}Course Detail{% endblock title %}

{% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/esm/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock head %}

{% block body %}
<div class="container pt-4">
    <h1>Course Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <p class="card-text">Instructor: {{ course.instructor }}</p>
            <p class="card-text">Start Date: {{ course.start_date }}</p>
            <p class="card-text">End Date: {{ course.end_date }}</p>
            <!-- Add more course details as needed -->
        </div>
    </div>
    <div class="row">
        <hr>
        {% if course_data %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>File</th>
                        <th>Created At</th>
                        <th>Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in course_data %}
                        <tr>
                            <td>{{ data.title }}</td>
                            <td>{{ data.description }}</td>
                            <td><a href="{{ data.file.url }}" target="_blank">{{ data.file.name }}</a></td>
                            <td>{{ data.created_at }}</td>
                            <td>{{ data.instructor }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No course data available.</p>
        {% endif %}
    </div>
</div>
{% endblock body%}
